header {
     background: #a09f9f;
}

.logo {
    width: 350px;
    height: 250px;
}

nav li {
    display: inline;
}

nav a {
    text-transform:uppercase;
    color: #ffffff;
    font: weight;
}